* {
  box-sizing: border-box;
}
body {
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(57, 57, 59);
  max-width: 400px;
}
img {
  /* display: flex; */
  padding: 5px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.links {
  display: flex;
  padding: 10px;
  width: 200px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.glow-on-hover {
  width: 150px;
  height: 25px;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(29, 36, 143);
  cursor: pointer;
  position: relative;
  /* z-index: 0; */
  border-radius: 15px;
}

.h1 {
  margin: auto;
  font-size: 30px;
  letter-spacing: -0.05em;
  text-align: center;
  color: white;
  padding: 5px;
}
.h2 {
  margin: auto;
  font-size: 15px;
  letter-spacing: -0.05em;
  text-align: center;
  color: white;
  padding: 5px;
}
.about {
  padding: 5px;
  text-align: center;
  max-width: 400px;
  margin: auto;
  color: white;
  text-align: start;
}
.about_h3 {
  padding: 5px;
  text-align: center;
  margin: auto;
  color: white;
  max-width: 400px;
  text-align: start;
}
.interest {
  padding: 5px;
  text-align: center;
  max-width: 400px;
  margin: auto;
  color: white;
  text-align: start;
}
.interest_h3 {
  padding: 5px;
  text-align: center;
  margin: auto;
  color: white;
  max-width: 400px;
  text-align: start;
}
